name: CI Pipeline


on:
push:
branches: [main, dev]


jobs:
build-test:
runs-on: ubuntu-latest


steps:
- name: Checkout code
uses: actions/checkout@v4


- name: Setup PHP
uses: shivammathur/setup-php@v2
with:
php-version: '8.2'


- name: Validate PHP syntax
run: |
find app -name "*.php" -exec php -l {} \;


- name: Create build artifact
run: |
mkdir build
cp -r app build/


- name: Upload artifact
uses: actions/upload-artifact@v4
with:
name: web-build
path: build/